{% extends 'base.html.twig' %}

{% block title %}
    {{ controller_name }}
{% endblock %}

{% block content %}
    <header class="bg-primary text-white text-center d-flex align-items-center h-100 w-100" style="min-height: 100vh;">
        <div class="container">
            <h1>Bine ați venit la <b>TranziteRO</b></h1>
            <p class="lead">Transport rapid, sigur și de încredere.</p>
            <p>{{description}}</p>
            <a href="{{ path('available_trips') }}" class="btn btn-light btn-lg">Rezerva cursa</a>
        </div>
    </header>
{% endblock %}